<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h1>MaxMin price</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>MaxPrice</th>
        <th>Delete product</th>
    </tr>
    <tr>
        <td th:text="${productMax.id}">id</td>
        <td th:text="${productMax.name}">name</td>
        <td th:text="${productMax.price}">price</td>
    </tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>MinPrice</th>
        <th>Delete product</th>
    </tr>
    <tr>
        <td th:text="${productMin.id}">id</td>
        <td th:text="${productMin.name}">name</td>
        <td th:text="${productMin.price}">price</td>
    </tr>

</table>

</body>
</html>